<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Beranda</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dipolabs@users.noreply.github.com">Email</a></li>
	        		<li><a href="https://github.com/dipolabs" rel="nofollow" target="_blank">Repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
